body{
background-color: rgb(255, 100, 195);
z-index: -5;
}


 /*-----------------TITOLO----------------*/

    .titlewrap{
        width: 100vw;
    }

    #title{
        font-size: 350%;
        font-family:MSCHFSansMono,monospace,Arial,Helvetica,sans-serif;
        display: block;
        position: fixed;
        line-height:3vw;
        height: 90px;
        
        /*text-transform:uppercase;*/
        color:antiquewhite;
        position: center;  
        /*border: 1px solid red;*/
    }

    #titlehover{
        display: block;
        position: fixed;
        opacity: 0; 
        width: 50%;  
        /*border: 1px solid red;*/
    }


    .titlewrap:hover #titlehover{
    opacity: 1;  
    }

.titlewrap:hover #title {
    opacity: 0;
}





/*--------------STILE DEL TESTO---------------*/

    
#categoryList{
     position: fixed;
     top: 20%;
     font-weight: bold;
     margin-left: 0%;
     font-size: 20px;
     line-height: 25px;
     width: 450px;
     margin-top: 50px;
     font-family:MSCHFSansMono,monospace,Arial,Helvetica,sans-serif;
        
      border: 1px solid red; 
}

.category{
     margin-left: 3%;
}

#papers,
#illegible {
    transform: rotate(4deg);
}

#drawings {
    transform: rotate(-3deg);
}

#icons,
#browsing {
    transform: rotate(-2deg);
}

#maximalist,
#collages {
    transform: translate(3deg);
}



/*--------------STILE DELL'HOVERING SUL TESTO---------------*/

    .category:hover{
        color: rgb(38, 0, 255);
        background-color: rgb(234, 255, 0);
        width: 400px;
      
    }

    #maximalist:hover{
        font-family: "Playwrite HR", cursive;
        font-optical-sizing: auto;
        font-weight: 200;
        font-style: normal;
        transform: rotate(5deg);
    }

    #papers:hover{
        font-family: "Playwrite VN Guides", cursive;
        font-weight: 400;
        left: 35px;
        font-style: normal;
        transform:scaleX(1.2)
    }

    #icons:hover{
        font-family: "Rock Salt", cursive;
        font-weight: 400;
        font-style: normal;
        text-decoration:wavy;
    }

    #drawings:hover{
        font-family: "Miniver", cursive;
        transform: skewX(20deg);
        font-weight: 400;
        font-style: normal;
    }

    #ornaments:hover{
        font-family: "Borel", cursive;
        font-weight: 400;
        font-style: normal;
    }

    #collages:hover{
        font-family: 'MagazineLetterByBrntlbrnl-Regular';
        /*font-family: "Playwrite NO Guides", cursive;
        position: fixed;*/
        font-weight: 700px;
        
        font-style: normal;
    }

    #illegible:hover{
        font-family: 'Mess_Light';
        font-weight: 400;
    }
    

    #browsing:hover{
    font-family: "Homemade Apple", cursive;
    font-weight: 400;
    transform:skew(10deg, 5deg);
    font-style: normal;
    }


button{
        font-size: large;
        font-family:MSCHFSansMono,monospace,Arial,Helvetica,sans-serif;
        font-size:20px;
        line-height:3vw;
        background-color: rgb(255, 255, 255);
        margin: 1px solid black;
        z-index: 101;
        border-radius: 20%; 
        
    }    


footer{
    /*position: fixed;
    right: 1px;
    display: inline-block;
    bottom: 2%;*/
    display: none;
    background-color: rgb(136, 255, 0);
    
    width: 300px;
    z-index: 100;
    line-height: 12px;
    font-size: 10px;
    }

.star {
    position: absolute;
    width: 30px;
    height: 30px;
    pointer-events: none;
    transform: translate(-50%, -50%);
    animation: fade 0.1s ease-in-out; /*oppure forward*/
    }

@keyframes fade {
    0% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}




#download_area{
    position: fixed;
    text-align: center;
    
    width: 595px;
    height: 842px;
    right: 20px;
    z-index:1;
    pointer-events: none; 
    border: 1px solid black;
}







/*----------------------STILE APERTURA TABS------------------------------*/

#overlay_maximalist,
#overlay_papers,
#overlay_icons,
#overlay_drawings,
#overlay_ornaments,
#overlay_collages,
#overlay_illegible,
#overlay_browsing {
    display: none; /* nascosto all'inizio */
    justify-content: center;
    align-items: center;
    position:fixed;
    width: 30%;
    left: 30%;
    bottom: 120px;
    top: 200px;
    z-index: 100;
    
}

/*Contenitore immagini */
.gallery {
    gap: 0px;
    /*border: 1px solid black;*/
}


/* Immagini */
.gallery img  {
    width: 450px;
    position: absolute;
    /*display:initial; */
    cursor: pointer;

    transition: transform 0.2s;
}

#maximalist1,
#papers1,
#icons1,
#drawings1,
#ornaments1,
#collages1,
#illegible1,
#browsing1 {
    transform: rotate(5deg);
}

#maximalist2,
#papers2,
#icons2,
#drawings2,
#ornaments2,
#collages2,
#illegible2,
#browsing2 {
    transform: rotate(-5deg);
}

#maximalist3,
#papers3,
#icons3,
#drawings3,
#ornaments3,
#collages3,
#illegible3,
#browsing3 {
    transform: rotate(8deg);
}








/*--------------facce lettere ornaments--------------------*/



#faces{
    display: none;  /*nascosto all'inizio*/
    justify-content: center;
    align-items: center;
    position:fixed;
    width: 100%;
    height: 100%;
    top:0;
    left: 210px;

    /*border: 1px solid black;*/
}
.cutouts {
    gap: 10px;
    z-index: 50;
}

.cutouts img  {
    width: 300px;
    right: 30%;
    position: absolute;
    /*display:initial; */
    cursor: pointer;
}








.illegible-font {
    font-family:'Times New Roman', Times, serif
}






